@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 200px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 8px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 5px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	margin-top:5px;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}


.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
body{
	background-image: url("../img/wall2.jpg");
	background-repeat: no-repeat;
	background-size: fit-content;
}

* {
	font-family: courier;
	box-sizing: border-box;
}

header{
	width: 100%;
	height: 60px;
	color: #494949;
	background-color:#ffe2e2;
	text-align: center;
	padding: 10px;
}

.header1{
	width: 100%;
	height: 60px;
	color: #494949;
	background-color:#d7f8f7;
	text-align: center;
}


.topnav{
	margin-top: 10px;
	overflow:hidden;
	background-color: #494949;
	border-radius:25px;
}

.topnav a {
	float:left;
	color: #f2f2f2;
	text-align: center;
	padding: 19px 22px;
	font-size: 19px;
	text-decoration: none;
	font-weight:bold;
}

.topnav a:hover{
	
	background-color:#ddd;
	color: black;
	
}

.topnav a.active{
	background-color: #ff8c94;
	color:white;
}

.container {	
	width:100%;
	height:850px;
	overflow:hidden;
	padding:20px 20px;
	position: center;
	color:#fff;
	background-color:#696464;
	opacity: 1;
	float: left;
	text-align:center;
	margin-top:10px;
	font-size: 20px;
	text-align: justify;
	
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	margin-top:10px;
}


.div1 {
		font-family: 'Open Sans Condensed', arial, sans;
	width: 450px;
	height:fit-content;
	padding: 20px;
	margin-left: 100px;
	position: absolute;
	background: #f9f8eb;
	float: left;
	
	

	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
	
	.div1 input[type="text"],
.div1 input[type="date"],
.div1 input[type="datetime"],
.div1 input[type="email"],
.div1 input[type="number"],
.div1 input[type="search"],
.div1 input[type="time"],
.div1 input[type="url"],
.div1 input[type="password"],
.div1 textarea,
.div1 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	width: 250px;
	padding: 8px;
	border: none;
	border-bottom: 1px solid #ddd;

	
	font: 16px Arial, Helvetica, sans-serif;
	height: 55px;
}
	
	
	.div1 input[type="button"], 
	.div1 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin-top:10px;
	padding: 20px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
	
.div1 input[type="button"]:hover, 
.div1 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}